<div class="container-fluid hero vh-95">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto order-lg-2 col-lg-5">
      <img class="img-fluid mb-3 mb-md-0" src="./assets/hero_illustration1.svg" alt="hero illustration">
    </div>
    <div class="order-lg-1 col-lg-6 text-center text-lg-start text-light">
      <h1 class="display-1 text-uppercase ms-lg-5">headline</h1>
      <h2 class="display-2 text-uppercase my-3 my-md-5 ms-lg-5">subheadline</h2>
      <p class="lead mb-4 fw-normal ms-lg-5 mx-sm-5 lh-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officiis saepe eligendi qui sed, velit laudantium quasi quidem error dignissimos doloremque facilis repudiandae ut.</p>
      <div class="d-grid gap-2 d-md-block ms-lg-5 mt-lg-5">
        <button class="btn btn-secondary btn-lg fw-bold me-4">Browse our courses</button>
        <button class="btn btn-secondary btn-lg fw-bold">Join now</button>
      </div>
    </div>
  </div>
</div>

